body {
    font-family: Arial;
    padding: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    
    list-style: none;
    padding: 0;
}

.todo-text.completed {
    text-decoration: line-through;
    color: gray;
}

li {
    padding: 10px;
    background: #f2f2f2;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
